# Ignore all files
*
.DS_Store
.idea/
.vscode/

# Unignore directories
!AlpacaSDK/
!AlpacaSDK/**
!MachineTrader/
!MachineTrader/**

# Ignore directories
.pylint.d/
__pycache__/
data/
new/
base/
trade_by_tic/

# Include Python files
!*.py
!*.ipynb
!*.txt
!*.md
